MASTRA_TELEMETRY_DISABLED=1

# données stockées par mastra
POSTGRES_CONNECTION_STRING=postresql://postgres:postgres@127.0.0.1:5438/postgres

# base de l'espace membre
ESPACE_MEMBRE_DATABASE_URL=postresql://secretariat:secretariat@127.0.0.1:5432/secretariat

# for vectorisation
EMBEDDING_MODEL=bge-multilingual-gemma2
# general agent
TOOLS_MODEL=gemma-3-27b-it
# routing and markdown
LANGUAGE_MODEL=mistral-nemo-instruct-2407
# sql generator 
SQL_MODEL=devstral-small-2505

OPENAI_BASE_URL=
OPENAI_API_KEY=